body{
	background:#F6F5F2;
}
a{
	text-decoration:none;
}
*,*:before,*:after{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
header{
	min-width:1200px;
	height:400px;
	background:url("../images/1.jpg") no-repeat 50% 50%;
	position:relative;
	box-shadow:1px 1px 10px black;

}
header>div>h2{
	color:#fff;
	margin-left:-300px;
	animation:lefts 3s;
	animation-fill-mode:forwards;
}
header>div>h2>span{
	font-size:0.75em;
	margin-left:100px;
}
@keyframes lefts{
	from{ margin-left:-300px;opacity:0;}
	to{ margin-left:0;opacity:100;}
}

header>div{
	width:400px;
	height:300px;
	position:absolute;
	margin:auto;
	left:0;
	right:0;
	top:0;
	bottom:0;
}
nav{
	width:100%;
	height:80px;
	background:rgba(0,0,0,0.7);
	position:absolute;
	bottom:0;
	min-width:600px;
	padding-left:100px;

}
nav a{
	
	text-align:center;
	display:inline-block;
	width:100px;
	height:100%;
	line-height:80px;
	color:#fff;
}
nav a:nth-child(1){
	background:rgba(0,0,0,1);
}
nav a:hover{
	background:rgba(0,0,0,1);
}
/* 内容开始*/
.content{
	position:relative;
	width:1200px;
	margin:auto;
}
section{
	background:#fff;
	height:300px;
	width:70%;
	overflow:hidden;
	text-align:center;
	box-shadow:1px 1px 2px #ccc;
	margin:20px 0px;
	position:relative;
}
section a{
	color:black;
}
section p{
	overflow:hidden;
	text-overflow:ellipsis;
	word-break:break-all;
	text-align:center;	
	text-indent:2em;
	white-space:pre-line;
}
	
section:hover{
	box-shadow:1px 1px 5px #ccc;
}
aside{
	width:28%;
	height:420px;
	background:#fff;
	position:absolute;
	right:0;
	top:0;
	box-shadow:1px 1px 10px #ccc;
}
aside div{
	position:relative;
	top:20px;
	cursor:pointer;
	left:0;
	right:0;
	width:200px;
	height:200px;
	box-shadow:1px 1px 10px #ccc;
	border-radius:200px;
	margin:auto;
	animation:rotate 9.5s linear 0s normal none infinite;
	background:url("../images/tx.jpg") no-repeat center;
}
aside p{
	text-align:center;
}
aside span{
	display:block;
	text-align:center;
	margin-top:40px;
	
}
aside:hover{
	box-shadow:1px 1px 5px #ccc;
}
@keyframes rotate{
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}
/*内容结束*/
footer{
	text-align:center;
	height:200px;
	width:100%;
	min-width:1200px;
	background:#333;
}
footer p{
	padding-top:100px;
}
